@import url("https://cdn.syncfusion.com/ej2/material.css");
.e-gantt .e-gantt-chart .e-event-markers .e-span-label{
    background: linear-gradient(76deg, rgb(0, 0, 0), rgb(117, 104, 104)) 0% 0% / 101% 101%;
    color: aliceblue;
}
/*.e-gantt .e-gantt-chart .e-gantt-child-taskbar-inner-div{*/
/*    background-color: crimson;*/
/*    border: crimson;*/
/*}*/
.e-gantt .e-gantt-chart .e-event-markers {
    border-left-color: #000000;
}

.e-gantt .e-gantt-chart .e-gantt-child-progressbar-inner-div {
    background-color: #A31427;
    border: 0px;
}



.e-control.e-schedule.e-lib.e-keyboard{
    height: 600px;
}
.e-gantt .e-gantt-chart .e-gantt-child-taskbar-inner-div{
    background: linear-gradient(76deg, rgb(180, 4, 23), rgb(211, 53, 74)) 0% 0% / 101% 101%;
    border: crimson;
}
.e-gantt .e-gantt-chart .e-event-markers .e-gantt-right-arrow {
    border-right-color: black;
}
/*.e-gantt-toolbar.e-control.e-toolbar.e-lib.e-keyboard{*/
/*    background: linear-gradient(76deg, rgb(0, 0, 0), rgb(117, 104, 104)) 0% 0% / 101% 101%;*/
/*}*/
/*.e-content{*/
/*    background: linear-gradient(76deg, rgb(255, 255, 255), rgb(117, 104, 104)) 0% 0% / 101% 101%;*/
/*}*/
.e-gantt-tree-grid-pane.e-pane.e-pane-horizontal.e-scrollable.e-static-pane.e-resizable
{
    background: linear-gradient(76deg, rgb(255, 255, 255), rgb(117, 104, 104)) 0% 0% / 101% 101%;
}
/*.e-timeline-header-container*/
/*{*/
/*    background: linear-gradient(76deg, rgb(0, 0, 0), rgb(117, 104, 104)) 0% 0% / 101% 101%;*/

/*}*/
/*.e-header-cell-label.e-gantt-top-cell-text{*/
/*    color: aliceblue;*/
/*}*/


/*e-timeline-top-header-cell{*/
/*    color: aliceblue;}*/
/*.e-timeline-header-table-container{*/
/*    background: linear-gradient(76deg, rgb(0, 0, 0), rgb(117, 104, 104)) 0% 0% / 101% 101%;*/
/*}*/




.e-schedule .e-month-view .e-current-date .e-date-header, .e-schedule .e-month-agenda-view .e-current-date .e-date-header{
    background-color: #BE263B;
}
.e-schedule .e-vertical-view.e-day-view .e-header-date {
    color: #BE263B;
}
.e-schedule .e-vertical-view .e-header-cells.e-current-day {
    color: #BE263B;
}
.e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text, .e-schedule .e-schedule-toolbar .e-active-view .e-icons {
    color: #BE263B;
}
.e-schedule .e-month-view .e-date-header-wrap table td.e-current-day, .e-schedule .e-month-agenda-view .e-date-header-wrap table td.e-current-day {
    color: #BE263B;
}





.e-schedule .e-vertical-view .e-day-wrapper .e-appointment{
    background:linear-gradient(76deg, rgb(0, 0, 0), rgb(117, 104, 104)) 0% 0% / 101% 101%;
}
.e-schedule .e-month-view .e-appointment{
    background: #000000;
}
.e-schedule .e-vertical-view .e-all-day-appointment-wrapper .e-appointment{
    background: linear-gradient(76deg, rgb(0, 0, 0), rgb(117, 104, 104)) 0% 0% / 101% 101%;
}
.e-schedule .e-agenda-view .e-appointment {
    border-left-color: rgb(244, 54, 76);

}
.e-quick-popup-wrapper .e-event-popup .e-popup-header{
    background: linear-gradient(76deg, rgb(0, 0, 0), rgb(117, 104, 104)) 0% 0% / 101% 101%;
}
.e-more-popup-wrapper .e-appointment{
    background:linear-gradient(76deg, rgb(0, 0, 0), rgb(117, 104, 104)) 0% 0% / 101% 101%;
}